# Suggested for better experience of CDCI

# Common trash
.idea/
.github/

.DS_Store

# Local installation cache and log, 
# safe enough for ignore for local dev.
data/cache/
data/logs/

# Production customizations, 
# safe enough for ignore for local dev.
data/upload/

# Files created during installation, 
# should be assued unchanged, using `git update-index --assume-unchanged <file>`
# ignored for now  
data/config-internal.php
data/config.php
install/config.php
