@body-bg-value: #4c4c4c;

@panel-bg-value: #403d3d;

@panel-default-text-value: #b7b7b7;
@panel-default-heading-bg-value: @panel-bg-value;

@text-color-value: #dedede;

@main-gray-value: #ececec;

@gray-soft-value: #cfcfcf;
@gray-light-value: #8b8b8b;

@brand-primary-value: #6490b7;
@brand-success-value: #83CD77;
@brand-warning-value: #e4a133;

@link-color-value: #92b9db;

@table-bg-value: transparent;

@navbar-inverse-color-value: #dedede;
@navbar-inverse-bg-value: #292929;
@navbar-inverse-link-color-value: #F7F7F7;

@default-border-color-value: #666262;

@default-heading-bg-color-value: #3e3434;

@modal-backdrop-bg-value: #000000;
@modal-header-bg-value: @body-bg-value;
@modal-footer-bg-value: @body-bg-value;
@modal-content-bg-value: @body-bg-value;

@modal-header-border-color-value: @default-heading-bg-color-value;

@input-bg-value: #525050;
@input-color-value: @text-color-value;
@input-border-value: #666060;
@input-border-focus-value: #4b7b9d;

@site-footer-bg-value: @body-bg-value;
@site-footer-color-value: @gray-light-value;

@btn-default-bg-value: #6c6565;
@btn-default-border-value: #7c7b7b;
@btn-default-color-value: #d1d1d1;

@btn-text-color-value: #b7b7b7;

@calendar-today-bg-value: #544a38;
@calendar-border-value: #9d9d9d;
